---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15}}">
    <div class="container">
        <div class="collection-title">
            <h1 class="collection-header">{{ page.title }}</h1>
            {% if page.subtitle %}
                <div class="collection-info">
                    <span class="meta-info">
                        {{ page.subtitle}}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</section>
 <section class="container content">
        <div class="columns">
            <div class="column two-thirds" >
				
                <article class="article-content markdown-body">
                    {{ content }}
                </article>
					<br />
					<div>
						  <video id="video1" style="margin-left: 10px;" width="448px" height="336px"  controls>
							<source src="{{ site.url }}/videos/xuexiao.mp4" type="video/mp4">
						  </video>
					</div>

                <div class="share">
                    {% include sns-share.html %}
                </div>
                <div class="comment">
                    {% include comments.html %}
                </div>
            </div>
            <div class="column one-third">
                {% include sidebar-search.html %}
                {% include sidebar-qrcode.html %}
                {% include sidebar-popular-repo.html %}
            </div>
        </div>
 </section>
<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
<script>
var myVideo=document.getElementById("video1"); 
myVideo.pause(); 

setInterval(function(){

  fetch('https://v1.hitokoto.cn')
    .then(function (res){
      return res.json();
    })
    .then(function (data) {
      var hitokoto = document.getElementById('hitokoto');
      hitokoto.innerText =data.hitokoto; 
	  var hitokoto_author = document.getElementById('hitokoto_author');
	  hitokoto_author.innerText = "——《"+data.from+"》";
    })
    .catch(function (err) {
      console.error(err);
    })

},10000);

</script>



